body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.dropdown-group, .input-group, .dropdown-single, .input-single {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hor {
  display: flex; /* Enables Flexbox for this container */
  gap: 10px; /* Adds some space between the elements */
}

.hor select {
  flex-grow: 1; /* Optional: makes the <select> elements take up equal space */
}

.submit-btn {
    text-align: center;
}

.submit-btn:hover {
    opacity: 0.5;
}

.submit-btn button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button {
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    opacity: 0.3;
}

.add-button {
    background-color: green;
}
.delete-button, .cancle-button {
    background-color: #f44336;
    margin-botton: 10px;
}
.modify-button {
    background-color: yellow;
    color: black;
    margin-top: 10px;
}
th {
    background-color: #f4f4f4;
    color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Optional: Add a box shadow or border to the bottom of the header for better visibility */
th {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f4f4f4;
    color: #333;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
